.none {
  display: none;
}
.no-scroll {
  overflow-y: hidden;
}

.mobile {
  display: none !important;
  @media (max-width: 991px) {
    display: block !important;
  }
}

.mobile-flex {
  display: none !important;
  @media (max-width: 991px) {
    display: flex !important;
  }
}

.desktop {
  display: block !important;
  @media (max-width: 991px) {
    display: none !important;
  }
}

.desktop-flex {
  display: flex !important;
  @media (max-width: 991px) {
    display: none !important;
  }
}
