.wrapper {
  @include flex(row, center, flex-start);
  gap: 36px;
  @media (max-width: 991px) {
    @include flex(column, center, center);
    gap: 10px;
  }
}

.left {
  width: 50%;
  @media (max-width: 991px) {
    width: 100%;
  }
}

.left-slider {
  margin-bottom: 21px;
  @media (max-width: 991px) {
    margin-bottom: 15px;
  }
  &-main {
    position: relative !important;
    @include flex(row, center, center);
    gap: 10px;
  }
}

.left-table {
  margin-bottom: 20px;
  @media (max-width: 991px) {
    margin-bottom: 9px;
  }
  table {
    width: 100%;
    border-collapse: collapse;
  }
  td,
  th {
    border: 1px solid rgb(229, 231, 235);
    padding: 7px;
    @media (max-width: 991px) {
      padding: 1px 4px;
      min-width: 90px;
    }
  }
  td {
    text-align: center;
    color: rgb(0, 28, 114);
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22.5px;
    letter-spacing: 0%;
    text-align: center;
    @media (max-width: 991px) {
      font-size: 8px;
    }
    img {
      width: 24px;
      height: 24px;
      @media (max-width: 991px) {
        width: 12px;
        height: 12px;
      }
    }
  }
}

.left-review {
  border-bottom: 2px solid rgb(242, 245, 244);
  margin-bottom: 21px;
  @media (max-width: 991px) {
    margin-bottom: 15px;
  }
  &__link-m {
    @media (max-width: 991px) {
      display: flex !important;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 5px;
      color: rgb(0, 28, 114);
      font-family: "Geologica", sans-serif;
      font-size: 13px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0%;
      text-align: left;
      margin-bottom: 11px;
    }
  }
  &__top {
    @include flex(row, flex-start, center);
    gap: 12px;
    padding: 12px 16px 14px 16px;
    background: rgb(242, 245, 244);
    border-radius: 15px 15px 0 0;
    margin-bottom: 2px;
    @media (max-width: 991px) {
      @include flex(row, center, center);
      padding: 3px 0 4px 0;
      border: 0.5px solid rgb(229, 231, 235);
      border-radius: 5px;
      background: rgb(252, 252, 252);
      margin-bottom: 13px;
    }
    p {
      color: rgba(33, 25, 85, 0.5);
      font-family: "Montserrat", sans-serif;
      font-size: 13px;
      font-weight: 500;
      line-height: 130%;
      letter-spacing: 4%;
      text-align: left;
      span {
        @media (max-width: 991px) {
          display: none;
        }
      }
    }
  }
  &__body {
    @include flex(row, flex-start, flex-start);
    gap: 16px;
    background: rgb(242, 245, 244);
    padding: 16px 16px 20px 16px;
    margin-bottom: 20px;
    border-radius: 0 0 10px 10px;
    @media (max-width: 991px) {
      display: none;
    }
  }
  &__body-info {
    h5 {
      @include flex(row, flex-start, center);
      gap: 12px;
      color: rgb(33, 25, 85);
      font-family: "Archivo", sans-serif;
      font-size: 16px;
      font-weight: 600;
      line-height: 140%;
      letter-spacing: 4%;
      text-align: left;
      margin-bottom: 14px;
    }
    h5 > span {
      @include flex(row, flex-start, center);
      gap: 6px;
      color: rgba(33, 25, 85, 0.8);
      font-family: "Montserrat";
      font-size: 13px;
      font-weight: 500;
      line-height: 130%;
      letter-spacing: 4%;
      text-align: left;
    }
    h5 > span > img {
      width: 16px;
      height: 16px;
    }
    p {
      color: rgba(33, 25, 85, 0.8);
      font-family: "Montserrat";
      font-size: 17px;
      font-weight: 500;
      line-height: 140%;
      letter-spacing: 0%;
      text-align: left;
    }
  }
  &__link {
    @include flex(row, center, center);
    gap: 4px;
    color: rgb(33, 25, 85);
    font-family: "Geologica", sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 136%;
    letter-spacing: 4%;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 23px;
    @media (max-width: 991px) {
      display: none;
    }
  }
}

.left-about-us {
  h4 {
    color: rgb(0, 28, 114);
    font-family: "Geologica";
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 4%;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
    @media (max-width: 991px) {
      font-size: 12px;
      margin-bottom: 8px;
      margin-top: 16px;
    }
  }
  ul {
    @include flex(row, center, center);
    gap: 32px;
    margin-bottom: 42px;
    @media (max-width: 991px) {
      gap: 25px;
      margin-bottom: 30px;
    }
  }
}

.left-uniq {
  padding: 24px 26px 30px 26px;
  border-radius: 12px;
  background: rgb(242, 245, 244);
  @media (max-width: 991px) {
    padding: 12px 9px 20px 13px;
  }
  h3 {
    color: rgb(0, 28, 114);
    font-family: "Geologica";
    font-size: 27px;
    font-weight: 700;
    line-height: 38.4px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 30px;
    @media (max-width: 991px) {
      margin-bottom: 19px;
    }
  }
  &__list {
    @include flex(column, flex-start, flex-start);
    gap: 26px;
    @media (max-width: 991px) {
      gap: 14px;
    }
  }
  &__item {
    @include flex(row, flex-start, flex-start);
    gap: 19px;
    @media (max-width: 991px) {
      gap: 18px;
    }
  }
  img {
    @media (max-width: 991px) {
      width: 50px;
      height: 50px;
    }
  }
  &__info {
    h5 {
      color: rgb(0, 28, 114);
      font-family: "Montserrat";
      font-size: 17px;
      font-weight: 700;
      line-height: 24px;
      letter-spacing: 0%;
      text-align: left;
      margin-bottom: 1px;
      @media (max-width: 991px) {
        font-size: 16px;
      }
    }
    p {
      color: rgb(0, 28, 114);
      font-family: "Montserrat";
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0%;
      text-align: left;
      @media (max-width: 991px) {
        font-size: 13px;
      }
    }
  }
}

.right {
  width: 50%;
  @media (max-width: 991px) {
    width: 100%;
  }
}

.right-hero {
  border-bottom: 0.5px solid rgba(33, 25, 85, 0.12);
  margin-bottom: 18px;
  @media (max-width: 991px) {
    margin-bottom: 14px;
    border-bottom: none;
  }
  &__special {
    @include flex(row, flex-start, center);
    color: rgb(205, 0, 83);
    font-family: "Geologica";
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 8px;
    img {
      margin-right: 3px;
    }
    @media (max-width: 991px) {
      font-size: 15px;
      padding-bottom: 8px;
      border-bottom: 0.5px solid rgba(33, 25, 85, 0.12);
      margin-bottom: 8px;
      img {
        margin-right: 8px;
        position: relative;
        top: 2px;
      }
    }
  }
  h2 {
    color: rgb(0, 28, 114);
    font-family: "Geologica";
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
    margin-bottom: 8px;
    @media (max-width: 991px) {
      font-size: 21px;
      line-height: 30px;
      margin-bottom: 7px;
    }
  }
  p {
    color: rgb(1, 1, 1);
    font-family: "Geologica";
    font-size: 17px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 15px;
    @media (max-width: 991px) {
      font-size: 16px;
      line-height: 22.5px;
      margin-bottom: 7px;
    }
  }
  ul {
    @include flex(row, flex-start, flex-start);
    flex-wrap: wrap;
    row-gap: 8px;
    margin-bottom: 17px;
    @media (max-width: 991px) {
      display: none;
    }
  }
  ul > li {
    @include flex(row, flex-start, center);
    gap: 13px;
    width: 312px;
    color: rgb(1, 1, 1);
    font-family: "Montserrat";
    font-size: 15px;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: left;
  }
}

.switcher {
  h3 {
    color: rgb(0, 28, 114);
    font-family: "Geologica", sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 13px;
  }
  &__list {
    @include flex(row, center, center);
    gap: 7px;
    margin-bottom: 10px;
  }
  &__item {
    a {
      @include flex(row, center, center);
      gap: 5px;
      width: 110px;
      height: 34px;
      color: rgba(0, 28, 114, 0.8);
      font-family: "Geologica", sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0%;
      text-align: center;
      border: 1px solid rgb(204, 210, 227);
      border-radius: 8px;
    }
  }
  &__item.active {
    border: 1px solid rgb(0, 28, 114);
    border-radius: 8px;

    background: rgb(242, 244, 248);
  }
}

.right-veterinarian {
  position: relative;
  border-radius: 8px;
  padding: 15px 179px 10px 18px;
  background: rgb(242, 244, 248);
  margin-bottom: 18px;
  @media (max-width: 991px) {
    padding: 15px 100px 17px 16px;
    margin-bottom: 15px;
  }
  h5 {
    color: rgb(0, 167, 202);
    font-family: "Geologica";
    font-size: 18px;
    font-weight: 700;
    line-height: 19.2px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 6px;
    position: relative;
    z-index: 3;
    @media (max-width: 991px) {
      font-weight: 400;
      margin-bottom: 12px;
    }
  }
  p.text {
    color: rgb(0, 28, 114);
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0%;
    font-style: italic;
    text-align: left;
    position: relative;
    z-index: 3;
  }
  p.avtor {
    color: rgb(51, 73, 142);
    font-family: Geologica;
    font-size: 13px;
    font-weight: 250;
    line-height: 16.8px;
    letter-spacing: 0%;
    text-align: left;
    position: relative;
    z-index: 3;
  }
  img {
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
    height: 100%;
    object-fit: cover;
    @media (max-width: 991px) {
      width: 126px;
    }
  }
}

.wrap {
  padding: 17px 13px 14px 8px;
  border: 1px solid rgb(229, 231, 235);
  border-radius: 8px;
  &__title {
    @media (max-width: 991px) {
      @include flex(row, space-between, center);
      margin-bottom: 12px;
      &-l {
        h5 {
          color: rgb(0, 28, 114);
          font-family: "Geologica", sans-serif;
          font-size: 19px;
          font-weight: 700;
          line-height: 16px;
          letter-spacing: 0%;
          text-align: left;
          margin-bottom: 4px;
        }
        p {
          color: rgb(230, 33, 113);
          font-family: "Roboto", sans-serif;
          font-size: 15px;
          font-weight: 700;
          line-height: 16px;
          letter-spacing: 0%;
          text-align: left;
        }
      }
      &-r {
        text-align: right;
        span {
          color: rgb(51, 73, 142);
          font-family: "Roboto", sans-serif;
          font-size: 14px;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0%;
          text-align: right;
          text-decoration: line-through;
        }
        p {
          color: rgb(0, 182, 122);
          font-family: "Roboto", sans-serif;
          font-size: 30px;
          font-weight: 700;
          line-height: 28px;
          letter-spacing: 0%;
          text-align: right;
        }
      }
    }
  }
}

.right-weight {
  margin-bottom: 21px;
  h3 {
    color: rgb(0, 28, 114);
    font-family: "Geologica";
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 16px;
  }
  h3 > span {
    color: rgb(235, 0, 27);
    font-family: "Geologica";
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0%;
    text-align: left;
  }
  ul {
    @include flex(row, center, center);
    gap: 10px;
  }
  ul > li {
    @include flex(row, flex-start, center);
    gap: 16px;
    width: 210px;
    height: 100px;
    box-sizing: border-box;
    border: 2px solid rgb(235, 236, 239);
    border-radius: 15px;
    background: rgb(255, 255, 255);
    cursor: pointer;
    @media (max-width: 1320px) {
      @include flex(column, center, center);
      width: calc(100% / 3);
      height: 130px;
    }
    img {
      @media (max-width: 991px) {
        width: 60%;
      }
    }
    p {
      color: rgb(0, 27, 114);
      font-family: "Geologica";
      font-size: 20px;
      font-weight: 700;
      line-height: 140%;
      letter-spacing: 6%;
      text-align: left;
      text-transform: uppercase;
      margin-bottom: 5px;
      @media (max-width: 991px) {
        font-size: 15px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0%;
        text-align: center;
        margin-bottom: 0;
      }
    }
    span {
      display: block;
      color: rgb(0, 27, 114);
      font-family: "Montserrat";
      font-size: 14px;
      font-weight: 500;
      line-height: 13px;
      letter-spacing: 4%;
      text-align: left;
      @media (max-width: 991px) {
        font-size: 13px;
        line-height: 20px;
        letter-spacing: 0%;
        text-align: center;
      }
    }
  }
  li.active {
    border: 2px solid rgb(173, 54, 85);
    background: rgb(250, 229, 238);
    @media (max-width: 991px) {
      border: none;
      p,
      span {
        font-weight: 700;
      }
    }
  }
}

.right-number {
  h3 {
    color: rgb(0, 28, 114);
    font-family: "Geologica";
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 16px;
    @media (max-width: 991px) {
      display: none;
    }
  }
  h3 > span {
    color: rgb(235, 0, 27);
    font-family: "Geologica";
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0%;
    text-align: left;
  }
  &__list {
    @include flex(column, flex-start, flex-start);
    gap: 16px;
    @media (max-width: 991px) {
      gap: 8px;
    }
  }
  &__item {
    width: 100%;
    @include flex(row, flex-start, flex-start);
    padding: 16px;
    border: 1px solid rgb(153, 164, 199);
    border-radius: 10px;
    cursor: pointer;
    @media (max-width: 1320px) {
      align-items: center;
    }
    @media (max-width: 991px) {
      padding: 7px 13px;
    }
    .radio-box {
      @include flex(row, center, center);
      width: 18px;
      height: 18px;
      margin-right: 10px;
      border: 1px solid rgb(0, 28, 114);
      border-radius: 9999px;
      cursor: pointer;
      @media (max-width: 991px) {
        margin-right: 6px;
      }
      &-active {
        width: 12px;
        height: 12px;
        border-radius: 9999px;
        background: rgb(0, 28, 114);
      }
    }
    h6 {
      color: rgb(51, 73, 142);
      font-family: "Geologica", sans-serif;
      font-size: 16px;
      font-weight: 700;
      line-height: 20px;
      letter-spacing: 0%;
      text-align: center;
      margin-right: 34px;
      @media (max-width: 991px) {
        font-size: 13px;
        margin-right: 7px;
      }
    }
    p {
      @include flex(row, center, center);
      gap: 8px;
      color: rgb(51, 73, 142);
      font-family: "Geologica";
      font-size: 16px;
      font-weight: 400;
      line-height: 17.5px;
      letter-spacing: 0%;
      text-align: left;
      margin-right: 56px;
      @media (max-width: 991px) {
        font-size: 12px;
        margin-right: 8px;
      }
    }
    .info {
      @include flex(row, flex-start, center);
      @media (max-width: 1320px) {
        @include flex(column, center, flex-start);
      }
    }
    .sale {
      @include flex(row, flex-start, center);
      gap: 2px;
      color: rgb(0, 28, 114);
      font-family: "Geologica";
      font-size: 23px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0%;
      text-align: center;
      span {
        @include flex(column, flex-start, flex-start);
        gap: 0;
        color: rgb(51, 73, 142);
        font-family: "Geologica", sans-serif;
        font-size: 6px;
        font-weight: 400;
        line-height: 8px;
        text-align: center;
      }
    }
    .popular {
      width: 75px;
      @include flex(row, center, center);
      height: 23px;
      color: rgb(0, 28, 114);
      font-family: "Geologica";
      font-size: 8px;
      font-weight: 400;
      line-height: 10px;
      letter-spacing: 0.25px;
      text-align: center;
      border-radius: 5px;
      background: rgb(255, 201, 44);
      margin-left: 10px;
      @media (max-width: 991px) {
        width: 75px;
        height: 23px;
      }
    }
    .best-price {
      width: 75px;
      @include flex(row, center, center);
      height: 23px;
      color: rgb(0, 28, 114);
      font-family: "Geologica";
      font-size: 8px;
      font-weight: 400;
      line-height: 10px;
      letter-spacing: 0.25px;
      text-align: center;
      border-radius: 5px;
      background: rgb(204, 210, 227);
      margin-left: 10px;
      @media (max-width: 991px) {
        width: 75px;
        height: 23px;
      }
    }
  }
  &__item.active {
    border: 1px solid rgb(173, 54, 85);
    border-radius: 10px;
    background: rgb(250, 229, 238);
  }
}

.right-special-title {
  color: rgb(0, 28, 114);
  font-family: "Geologica", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 14px;
}

.right-special {
  margin-top: 31px;
  @include flex(column, center, center);
  gap: 21px;
  margin-bottom: 10px;
  @media (max-width: 991px) {
    margin-top: 9px;
    gap: 15px;
  }
  &__top {
    position: relative;
    width: 100%;
    @include flex(row, space-between, center);
    gap: 20px;
    padding: 0 21px 0 13px;
    border-radius: 5px;
    background: rgb(244, 244, 244);
    @media (max-width: 991px) {
      padding: 8px;
      gap: 8px;
    }
    .sale {
      position: absolute;
      left: 55px;
      top: 10px;
      color: rgb(255, 255, 255);
      font-family: "Roboto", sans-serif;
      font-size: 13px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0%;
      text-align: center;
      border-radius: 4px;
      background: rgb(255, 81, 81);
      padding: 0 7px;
      @media (max-width: 991px) {
        top: 10px;
        left: auto;
        right: 8px;
      }
    }
    &--img {
      @media (max-width: 991px) {
        position: relative;
        left: -10px;
      }
    }
    &--title {
      margin-bottom: 15px;
      @media (max-width: 991px) {
        margin-bottom: 10px;
      }
      h3 {
        color: rgba(0, 28, 114, 0.8);
        font-family: "Geologica", sans-serif;
        font-size: 25px;
        font-weight: 700;
        line-height: 16.8px;
        letter-spacing: 0%;
        text-align: left;
        margin-bottom: 10px;
        @media (max-width: 991px) {
          font-size: 15px;
          margin-bottom: 2px;
          white-space: nowrap;
          margin-left: -45px;
        }
      }
      p {
        color: rgba(0, 28, 114, 0.8);
        font-family: "Geologica", sans-serif;
        font-size: 20px;
        font-weight: 300;
        line-height: 16.8px;
        letter-spacing: 0%;
        text-align: left;
        @media (max-width: 991px) {
          font-size: 15px;
          white-space: nowrap;
          position: relative;
          margin-left: -45px;
        }
      }
    }
    &--price {
      @include flex(column, center, center);
      .old-price {
        margin-left: auto;
        color: rgb(114, 130, 180);
        font-family: "Geologica", sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0%;
        text-align: left;
        text-decoration: line-through;
        @media (max-width: 991px) {
          position: absolute;
          bottom: 30px;
          left: 100px;
          font-size: 12px;
        }
      }
      .new-price {
        color: rgb(23, 198, 93);
        font-family: "Geologica", sans-serif;
        font-size: 22px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0%;
        text-align: left;
        margin-bottom: 14px;
        @media (max-width: 991px) {
          position: absolute;
          bottom: 0;
          left: 90px;
          font-size: 18px;
        }
      }
      .add {
        @include flex(row, center, center);
        gap: 7px;
        padding: 6px 9px;
        color: rgb(0, 71, 255);
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0%;
        text-align: center;
        border: 2px solid rgb(0, 71, 255);
        border-radius: 4px;
        cursor: pointer;
        @media (max-width: 991px) {
          position: absolute;
          bottom: 9px;
          right: 8px;
        }
      }
      .added {
        @include flex(row, center, center);
        gap: 7px;
        padding: 6px 9px;
        color: rgb(0, 175, 0);
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0%;
        text-align: center;
        border: 2px solid rgb(0, 175, 0);
        border-radius: 4px;
        cursor: pointer;
        display: none;
      }
    }
  }
  &__middle {
    position: relative;
    width: 100%;
    border-radius: 8px;
    background: rgb(233, 246, 244);
    @include flex(row, center, center);
    padding: 6px 0 7px 0;
    p {
      color: rgb(0, 28, 114);
      font-family: "Geologica", sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0%;
      text-align: center;
    }
    span {
      position: absolute;
      left: 93px;
      top: 50%;
      transform: translateY(-50%);
      color: rgb(0, 28, 114);
      font-family: "Roboto", sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0%;
      text-align: center;
      @media (max-width: 991px) {
        left: 30px;
      }
    }
  }
  &__bottom {
    width: 100%;
    @include flex(column, center, center);
    .buy {
      @include flex(row, center, center);
      gap: 10px;
      padding: 7px 0 8px 0;
      width: 100%;
      color: rgb(255, 255, 255);
      font-family: "Roboto", sans-serif;
      font-size: 20px;
      font-weight: 700;
      line-height: 28px;
      letter-spacing: 0%;
      text-align: left;
      border-radius: 10px;
      background: rgb(23, 198, 93);
      margin-bottom: 21px;
      cursor: pointer;
    }
    .payment {
      @include flex(row, center, center);
      gap: 10px;
      margin-bottom: 15px;
    }
    .descr {
      @include flex(row, center, center);
      gap: 8px;
      color: rgb(51, 73, 142);
      font-family: "Roboto", sans-serif;
      font-size: 12px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0%;
      text-align: left;
    }
  }
}

.delivery {
  @include flex(row, center, center);
  gap: 10px;
  padding: 7px 0;
  border-top: 1px solid rgb(230, 232, 241);
  border-bottom: 1px solid rgb(230, 232, 241);
  margin-top: 11px;
  p {
    color: rgb(0, 28, 114);
    font-family: "Geologica";
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
  }
}

.right-faq {
  &__item {
    border-bottom: 0.5px solid rgba(1, 1, 1, 0.12);
  }
  &__top {
    @include flex(row, space-between, center);
    height: 60px;
    @media (max-width: 991px) {
      height: 50px;
    }

    h4 {
      color: rgb(0, 28, 114);
      font-family: "Geologica", sans-serif;
      font-size: 19px;
      font-weight: 700;
      line-height: 28px;
      letter-spacing: 0%;
      text-align: left;
    }
    span {
      font-size: 36px;
      cursor: pointer;
      @include transition;
    }
  }
  &__body {
    overflow: hidden;
    max-height: 0;
    @include transition;
    p {
      font-family: "Montserrat", sans-serif;
      font-size: 16px;
      font-weight: 500;
      line-height: 140%;
      letter-spacing: 0%;
      text-align: left;
      margin-bottom: 20px;
      @media (max-width: 991px) {
        font-size: 14px;
        margin-bottom: 18px;
      }
    }
    p > b {
      color: rgb(0, 28, 114);
    }
    ul {
      @include flex(column, flex-start, flex-start);
      gap: 15px;
      margin-bottom: 32px;
      @media (max-width: 991px) {
        gap: 2px;
        margin-bottom: 16px;
      }
      li {
        font-family: "Montserrat", sans-serif;
        font-size: 17px;
        font-weight: 400;
        line-height: 140%;
        letter-spacing: 0%;
        text-align: left;
        padding-left: 12px;
        border-left: 3px solid rgb(23, 198, 93);
        @media (max-width: 991px) {
          font-size: 14px;
          margin-bottom: 18px;
        }
      }
      li > b {
        color: rgb(0, 28, 114);
      }
    }
  }
}
.right-faq__item.open {
  .right-faq__body {
    max-height: 1000px;
  }
}
